
.media-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-list-container h1 {
  color: white;
  margin-top: 50px;
}

.media-list-container button {
  margin-top: 75px;
  width: 400px;
  height: 100px;
  font-size: 24px;
  background-color: lightskyblue;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.media-list-container button:hover {
  background-color: dodgerblue;
}

.media-list-container ul {
  margin: 0px;
  padding: 0px;
  width: 800px;
  margin-top: 40px;
}

.media-list-container li {
  list-style-type: none;
  margin-bottom: 40px;
}

.loading-state {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
}