.movie-card {
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 1px rgb(0 0 0 / 75%);
    padding: 10px;
}

img {
    width: 200px;
}

.left-content {
    margin-right: 20px;
}